.site-setting {
    .site-setting-content {
        .content-title {
            font-size: 24px;
            color: $theme-color;
        }

        .form-group {
            margin: 10px 0;

            label {
                margin-bottom: 5px;
            }

            .form-control {
                height: 43px;
                font-size: 14px;
            }
        }
    }
}
