.sidenav {
    width: 300px;
    height: calc(100vh - 70px);
    background-color: #2d3748;

    .nav-list {
        margin: 0;
        padding: 0;
        list-style: none;

        .list-item {
            a {
                text-decoration: none;
                display: flex;
                color: white;
                align-items: center;
                padding: 15px 30px;
                transition: .3s all ease-in-out;
                position: relative;

                &.router-link-exact-active {
                    background-color: $theme-color-hover;
                }

                img {
                    margin-right: 20px;
                    margin-left: 10px;
                    width: 18px;
                }

                span {
                    transform: translate(0);
                    transition: .3s all ease-in-out;
                }

                &:hover {
                    background-color: $theme-color-hover;
                    transition: .3s all ease-in-out;

                    span {
                        transform: translate(10px);
                        transition: .3s all ease-in-out;
                    }
                }
            }
        }
    }
}
