.page-title {
    //font-size: 20px;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #000;
    display: table;
    width: 100%;
    font-weight: 600;
    margin-bottom: 6px;

    .page-sub-title {
        width: 100%;
        display: table;
        font-size: 16px;
        list-style: none;
        margin-bottom: 15px;
        color: #2d3748;
    }
}

.btn-theme {
    background-color: #6C63FF;
    color: $white;
    font-weight: 500;
    transition: .2s all ease-in-out;

    &:hover {
        transition: .2s all ease-in-out;
        background-color: #554fb0;
        color: $white;
        box-shadow: 1px 1px 3px 1px rgb(0, 0, 0, .3);
    }
}
